<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/item/addItem}" th:Object="${itemRequest}" method="post">

<h2 th:text="#{addItem.title}"></h2>


<h4 th:text="#{addItem.Name}"></h4>
<input type="text" name="name" th:value="${name}"/>
<h4 th:text="#{addItem.Price}"></h4>
<input type="text" name="price" th:value="${price}"/>

<div class="submit">
    <button type="submit" name="addItem">Добавить элемент</button>
</div>
</form>

</body>
</html>
