<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/item/deleteItem}" th:Object="${Integer}" method="post">

    <h2 th:text="#{deleteItem.title}"></h2>

    <h4 th:text="#{deleteItem.Id}"></h4>
    <input type="text" name="id" th:value="${id}"/>

    <div class="submit">
        <button type="submit" name="delItem">Добавить элемент</button>
    </div>
</form>

</body>
</html>
