<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<form th:action="@{/item/updateItem}" th:Object="${itemUpdateRequest}" method="post">

    <h2 th:text="#{updateItem.title}"></h2>

    <h4 th:text="#{updateItem.itemId}"></h4>
    <input type="text" name="itemId" th:value="${itemId}"/>
    <h4 th:text="#{updateItem.Name}"></h4>
    <input type="text" name="name" th:value="${name}"/>
    <h4 th:text="#{updateItem.Price}"></h4>
    <input type="text" name="price" th:value="${price}"/>

    <div class="submit">
        <button type="submit" name="updateItem">Обновить элемент</button>
    </div>
</form>

</body>
</html>
